---
import Blob from "/Blob.svg";
import GameList from "../../../emulators.json";
import Layout from "@layout";
export async function getStaticPaths() {
  return GameList.map((Game) => {
    return {
      params: { id: Game.id },
      props: {
        title: Game.title,
        description: Game.description,
        file: Game.file
      }
    };
  });
}
const { id } = Astro.params;
const { title, description, file } = Astro.props;
---

<Layout title="Noctura">
  <div class="theaterContainer">
    <iframe
      class="theaterViewport"
      id="theaterViewport"
      src={"/~/uv/" + encodeURIComponent(file)}
      >Your (very goofy) browser doesn't support iframes.</iframe
    >
    <div class="theaterInfo">
      <h1 class="theaterTitle">{title}</h1>
      <h2 class="theaterDesc">{description}</h2>
      <div class="theaterButtons">
        <button class="theaterButton" onclick="handleFullscreenClick(); ">
          {/* Fullscreen */}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            version="1.2"
            viewBox="0 0 20 20"
            width="512"
            height="512"
          >
            <g id="Layer">
              <path
                id="Layer"
                class="s0"
                d="m1 1v6h2v-4h4v-2zm2 12h-2v6h6v-2h-4zm14 4h-4v2h6v-6h-2zm0-16h-4v2h4v4h2v-6z"
              ></path>
            </g>
          </svg>
        </button>
        <button class="theaterButton" onclick="Popout(); ">
          {/* Popout */}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            version="1.2"
            viewBox="0 0 256 256"
            width="50"
            height="50"
          >
            <path
              id="Layer"
              fill-rule="evenodd"
              class="s0"
              d="m228 40c0-1.6-0.3-3.1-0.9-4.6-0.6-1.4-1.5-2.8-2.6-3.9-1.1-1.1-2.5-2-3.9-2.6-1.5-0.6-3-0.9-4.6-0.9h-60c-3.2 0-6.2 1.3-8.5 3.5-2.2 2.3-3.5 5.3-3.5 8.5 0 3.2 1.3 6.2 3.5 8.5 2.3 2.2 5.3 3.5 8.5 3.5h31l-51.5 51.5c-2.3 2.3-3.5 5.3-3.5 8.5 0 3.2 1.2 6.3 3.5 8.5 2.2 2.3 5.3 3.5 8.5 3.5 3.2 0 6.2-1.2 8.5-3.5l51.5-51.5v31c0 3.2 1.3 6.2 3.5 8.5 2.3 2.2 5.3 3.5 8.5 3.5 3.2 0 6.2-1.3 8.5-3.5 2.2-2.3 3.5-5.3 3.5-8.5zm-44 92c-1.6 0-3.1 0.3-4.6 0.9-1.4 0.6-2.8 1.5-3.9 2.6-1.1 1.1-2 2.4-2.6 3.9-0.6 1.5-0.9 3-0.9 4.6v60h-120v-120h60c3.2 0 6.2-1.3 8.5-3.5 2.2-2.3 3.5-5.3 3.5-8.5 0-3.2-1.3-6.2-3.5-8.5-2.3-2.2-5.3-3.5-8.5-3.5h-64c-2.6 0-5.2 0.5-7.6 1.5-2.5 1-4.7 2.5-6.5 4.4-1.9 1.8-3.4 4-4.4 6.4-1 2.5-1.5 5.1-1.5 7.7v128c0 2.6 0.5 5.2 1.5 7.6 1 2.5 2.5 4.7 4.4 6.5 1.8 1.9 4 3.4 6.5 4.4 2.4 1 5 1.5 7.6 1.5h128c2.6 0 5.2-0.5 7.7-1.5 2.4-1 4.6-2.5 6.4-4.4 1.9-1.8 3.4-4 4.4-6.5 1-2.4 1.5-5 1.5-7.6v-64c0-1.6-0.3-3.1-0.9-4.6-0.6-1.5-1.5-2.8-2.6-3.9-1.1-1.1-2.4-2-3.9-2.6-1.5-0.6-3-0.9-4.6-0.9z"
            ></path>
          </svg>
        </button>
        <button class="theaterButton" onclick="ABPopout(); ">
          {/* About:blank popout */}
          <p>a:b</p>
        </button>
        <button class="theaterButton" onclick="BlobPopout();">
          {/* Blob popout */}
          <img src={Blob} />
        </button>
      </div>
    </div>
  </div>
  <script is:inline>
    function handleFullscreenClick() {
      let iframe = document.getElementById("theaterViewport");

      if (iframe.requestFullscreen) {
        iframe.requestFullscreen();
      } else if (iframe.mozRequestFullScreen) {
        // Firefox
        iframe.mozRequestFullScreen();
      } else if (iframe.webkitRequestFullscreen) {
        // Chrome, Safari and Opera
        iframe.webkitRequestFullscreen();
      } else if (iframe.msRequestFullscreen) {
        // IE/Edge
        iframe.msRequestFullscreen();
      }
    }

    function Popout() {
      let iframe = document.getElementById("theaterViewport");
      let src = iframe.getAttribute("src");
      window.open(src);
    }

    function ABPopout() {
      let theateriframe = document.getElementById("theaterViewport");
      let src = theateriframe.getAttribute("src");
      var newWindow = window.open("about:blank");
      var iframe = document.createElement("iframe");
      iframe.src = window.location.origin + src;
      iframe.style.width = "100%";
      iframe.style.height = "100%";
      iframe.style.border = "none";
      iframe.style.overflow = "hidden";
      newWindow.document.body.appendChild(iframe);
    }

    function BlobPopout() {
      let theateriframe = document.getElementById("theaterViewport");
      let src = theateriframe.getAttribute("src");
      var newWindow = window.open(
        URL.createObjectURL(
          new Blob(["<html><body></body></html>"], {
            type: "text/html"
          })
        ),
        "_blank"
      );
      var iframe = document.createElement("iframe");
      iframe.src = window.location.origin + src;
      iframe.style.width = "100%";
      iframe.style.height = "100%";
      iframe.style.border = "none";
      iframe.style.overflow = "hidden";

      newWindow.onload = function () {
        newWindow.onload = null;

        newWindow.document.body.style.background = "black";
        newWindow.document.body.appendChild(iframe);
        newWindow.document.body.style.width = "100%";
        newWindow.document.body.style.height = "100%";
        newWindow.document.body.style.margin = "0";
        newWindow.document.body.style.padding = "0";
      };
    }
  </script>
</Layout>

<style scoped>
  .theaterContainer {
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .theaterViewport {
    border: none;
    border-radius: 30px;
    width: 80%;
    height: 700px;
    margin-top: 20px;
    overflow: hidden;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .theaterInfo {
    border-radius: 30px;
    background-color: var(--settings-1);
    width: 80%;
    margin-bottom: 60px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .theaterTitle {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .theaterDesc {
    font-size: 18px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .theaterButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--settings-2);
    color: var(--font-color);
    border: 1px solid #333;
    border-radius: 20px;
    padding: 10px;
    fill: var(--font-color);
    height: 50px;
    width: 50px;
  }

  .theaterButton svg {
    fill: #fff;
    max-width: 50px;
    max-height: 50px;
  }

  .theaterButtons {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
</style>
