body {
    overflow: hidden;
}

.main-content {
    margin-left: 20%;
    position: absolute;
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.chat-history {
    position: absolute;
    height: 90%;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.answer-box {
    background-color: #0E0E0E;
    top: 0;
    position: absolute;
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.message-box {
    background-color: #0A0A0A;
    position: absolute;
    height: 17.5%;
    width: 100%;
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 85%;
    padding-left: 13.33333px;
    
}

input {
    width: 80%;
    height: 45%;
    border-radius: 15px;
    background-color: #161616;
    position: absolute;
    top: 15px;
}

.send-img {
    width: 50px;
    position: absolute;
    top: 17px; right: 155px;
}
