---
import Settings from "@settings";
---

<Settings title="General">
    <div class="settings-section">
        <form id="custom-bare-form">
            <h1 class="text-lg">Custom Bare Server</h1>

<<<<<<< HEAD
            <input class="settings-input" />
        </form>
    </div>
    <div class="settings-section">
        <form id="about-blank-form">
            <h1 class="text-lg">Tab Cloaking</h1>
=======
                            <input class="settings-input">
                            <button type="submit" style="visibility: hidden; position: absolute; z-index: -1;"></button>
                            <button type="submit" id="reset-bare" class="settings-submit">Reset</button>
                        </form>
                    </div>
                    <div class="settings-section">
                        <form id="about-blank-form">
                            <h1 class="text-lg">Tab Cloaking</h1>
>>>>>>> origin/main

            <button type="submit" id="init-about" class="settings-submit">About:Blank</button>
            <button type="submit" id="init-blob" class="settings-submit">Blob</button>
        </form>
    </div>
    <div class="settings-section">
        <form id="panic-url-form">
            <h1 class="text-lg">Panic URL</h1>

            <input class="settings-input" placeholder="https://classroom.google.com/" />
        </form>
    </div>
    <script defer type="module">
        var notify = window.notify;
        function loadSettings() {
            if (!window.location.pathname.startsWith("/settings/general"))
                return;

            document
                .getElementById("about-blank-form")
                .addEventListener("submit", function (e) {
                    e.preventDefault();

                    switch (e.submitter.id) {
                        case "init-about":
                            var newWindow = window.open(
                                "about:blank",
                                "_blank"
                            );
                            break;
                        case "init-blob":
                            var newWindow = window.open(
                                URL.createObjectURL(
                                    new Blob(["<html><body></body></html>"], {
                                        type: "text/html",
                                    })
                                ),
                                "_blank"
                            );
                            break;
                    }

                    var iframe = document.createElement("iframe");
                    iframe.src = window.location.href;
                    iframe.style.width = "100%";
                    iframe.style.height = "100%";
                    iframe.style.border = "none";
                    iframe.style.overflow = "hidden";

                    newWindow.onload = function () {
                        newWindow.document.body.style.background = "black";
                        newWindow.document.body.appendChild(iframe);
                        newWindow.document.body.style.width = "100%";
                        newWindow.document.body.style.height = "100%";
                        newWindow.document.body.style.margin = "0";
                        newWindow.document.body.style.padding = "0";
                    };
                });

            document.querySelector("#panic-url-form input").value =
                localStorage.getItem("panic-url") ||
                "https://classroom.google.com/";

            document
                .getElementById("panic-url-form")
                .addEventListener("submit", function (e) {
                    e.preventDefault();

                    var url = document.querySelector(
                        "#panic-url-form input"
                    ).value;

                    if (url) {
                        localStorage.setItem("panic-url", url);

                        notify.show(`Saved`, "success", 2000);
                    } else {
                        return;
                    }
                });

            document.querySelector("#custom-bare-form input").value =
                localStorage.getItem("server") || "";

            document
                .getElementById("custom-bare-form")
                .addEventListener("submit", function (e) {
                    e.preventDefault();

<<<<<<< HEAD
                    let bare = document.querySelector(
                        "#custom-bare-form input"
                    ).value;
=======
                    console.log(e);

                    if (e.submitter.id == 'reset-bare') {
                        localStorage.removeItem('server');
                        document.querySelector('#custom-bare-form input').value = localStorage.getItem('server') || '';
                        return caches.open('astro-data').then(cache => {
                            cache.put('/bare.txt', new Response('tomp.app')).then(async () => {
                                await navigator.serviceWorker.register('/sw.js', { scope: '/', module: true });
                                await navigator.serviceWorker.register('/sw/aero/worker.js', { scope: '/~/aero', module: true });
                                
                                notify.show(`Reset Server`, "success", 2000);
                            });
                        });
                    }

                    let bare = document.querySelector('#custom-bare-form input').value;
>>>>>>> origin/main

                    if (bare) {
                        bare = bare.replace(/^https?:\/\//g, "");
                        localStorage.setItem("server", bare);

                        caches.open("astro-data").then((cache) => {
                            cache
                                .put("/bare.txt", new Response(bare))
                                .then(async () => {
                                    await navigator.serviceWorker.register(
                                        "/sw.js",
                                        { scope: "/", module: true }
                                    );
                                    await navigator.serviceWorker.register(
                                        "/sw/aero/worker.js",
                                        { scope: "/~/aero", module: true }
                                    );

                                    notify.show(`Saved`, "success", 2000);
                                });
                        });
                    } else {
                        return;
                    }
                });
        }

        window.addEventListener("flamethrower:router:end", (_) =>
            loadSettings()
        );
        loadSettings();
    </script>
</Settings>
