---
import Settings from "@settings";
import Section from "@components/Section.astro";
---

<Settings title="Privacy">
  <Section class="settings-section">
    <form>
      <h1 class="text-lg">Coming Soon</h1>
    </form>
  </Section>
</Settings>
