---
import Settings from "@settings";
---

<Settings title="Privacy">
    <div class="settings-section">
        <form>
            <h1 class="text-lg">Custom Bare Server</h1>

            <input class="settings-input">
        </form>
    </div>
</Settings>