---
import Settings from "@settings";
import Section from "@components/Section.astro";
---

<Settings title="Themes">
  <Section class="settings-section">
    <form id="theme-switch-form">
      <h1 class="text-lg">Select Theme</h1>
      <br />
      <p class="sec">Stock Themes</p>
      <button
        type="submit"
        id="theme-amoled"
        class="settings-submit amoled_theme">AMOLED</button
      >
      <button id="theme-light" class="settings-submit light_theme"
        >Flashbang</button
      >
      <button id="theme-mid" class="settings-submit mid_theme">Midnight</button>
      <br />
      <br /><p class="sec">Catppuccin</p>
      <button id="theme-mocha" class="settings-submit mocha_theme"
        >Catppuccin - Mocha</button
      >
      <button id="theme-macchiato" class="settings-submit macchiato_theme"
        >Catppuccin - Macchiato</button
      >
      <button id="theme-frappe" class="settings-submit frappe_theme"
        >Catppuccin - Frappé</button
      >
      <button id="theme-latte" class="settings-submit latte_theme"
        >Catppuccin - Latte</button
      >
      <br />
      <br /><p class="sec">Colors</p>
      <button id="theme-red" class="settings-submit red_theme">Bubblegum</button
      >
      <button id="theme-green" class="settings-submit green_theme">Stem</button>
      <button id="theme-blue" class="settings-submit blue_theme">Wave</button>
      <button id="theme-yellow" class="settings-submit yellow_theme"
        >Sunflower</button
      >
      <button id="theme-copper" class="settings-submit copper_theme"
        >Copper</button
      >
      <br />
      <br /><p class="sec">The Team</p>
      <button id="theme-sylv" class="settings-submit sylv_theme">Sylvie</button>
      <button id="theme-rift" class="settings-submit rift_theme"
        >Riftriot</button
      >
      <button id="theme-ssd" class="settings-submit ssd_theme">Avd3</button>
      <button id="theme-cat" class="settings-submit cat_theme">Cat</button>
      <button id="theme-koaku" class="settings-submit koaku_theme">Koaku</button
      >
      <button id="theme-spritz" class="settings-submit spritz_theme"
        >Spritz</button
      >
      <br />
      <br /><p class="sec">TN Proxython 2023</p>
      <button id="theme-im" class="settings-submit im_theme">Immortal</button>
      <button id="theme-atom" class="settings-submit atom_theme">Atom</button>
      <button id="theme-sodium" class="settings-submit sodium_theme"
        >Sodium</button
      >
      <button id="theme-shadow" class="settings-submit shadow_theme"
        >Shadow</button
      >
      <button id="theme-flow" class="settings-submit macchiato_theme"
        >FlowOS</button
      >
      <button id="theme-cobalt" class="settings-submit cobalt_theme"
        >Cobalt</button
      >

      <br />
      <br /><p class="sec">Special Themes</p>
      <button id="theme-discord" class="settings-submit discord_theme"
        >Discord</button
      >
      <button id="theme-ludicrous" class="settings-submit ludicrous_theme"
        >Ludicrous Dark</button
      >
      <button id="theme-trans" class="settings-submit trans_theme"
        >Mercury Workshop</button
      >
      <button id="theme-hub" class="settings-submit hub_theme">Hub</button>
      <button id="theme-akane" class="settings-submit akane_theme"
        >Akane / Generic</button
      >
      <button id="theme-baja" class="settings-submit baja_theme"
        >Baja Blast</button
      >
      <button id="theme-alu" class="settings-submit alu_theme">Alu</button>
      <br />
      <br /><p class="sec">Loser that wanted his own theme</p>
      <button id="theme-air" class="settings-submit air_theme">Airtag</button>
    </form>

    <p style="font-size:15px;" class="mt-1">
      Want to create your own theme? <a
        href="/plugins/themes/"
        data-cold
        style="text-decoration: underline;">Custom Themes</a>
    </p>
    <!-- <p style="font-size:15px;" class="mt-1">Want to have your custom theme featured on the themes list? DM @dvcu on discord and send in your custom theme file!</p> -->
  </Section>

  <script type="module">
    function removeCustomTheme() {
      document.documentElement.style.removeProperty("--primary-bg-color");
      document.documentElement.style.removeProperty("--secondary-bg-color");
      document.documentElement.style.removeProperty("--settings-1");
      document.documentElement.style.removeProperty("--settings-2");
      document.documentElement.style.removeProperty("--settings-3");
      document.documentElement.style.removeProperty("--font-color");
      document.documentElement.style.removeProperty("--primary-text-color");
      document.documentElement.style.removeProperty("--nav-btn-color-darker");
      document.documentElement.style.removeProperty("--nav-btn-color");
    }

    document.getElementById("theme-amoled").addEventListener("click", () => {
      localStorage.setItem("theme", "amoled");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "amoled");
    });

    document.getElementById("theme-mocha").addEventListener("click", () => {
      localStorage.setItem("theme", "mocha");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "mocha");
    });

    document.getElementById("theme-macchiato").addEventListener("click", () => {
      localStorage.setItem("theme", "macchiato");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "macchiato");
    });

    document.getElementById("theme-frappe").addEventListener("click", () => {
      localStorage.setItem("theme", "frappe");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "frappe");
    });

    document.getElementById("theme-latte").addEventListener("click", () => {
      localStorage.setItem("theme", "latte");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "latte");
    });

    document.getElementById("theme-light").addEventListener("click", () => {
      localStorage.setItem("theme", "light");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "light");
    });

    document.getElementById("theme-baja").addEventListener("click", () => {
      localStorage.setItem("theme", "baja");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "baja");
    });

    document.getElementById("theme-discord").addEventListener("click", () => {
      localStorage.setItem("theme", "discord");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "discord");
    });

    document.getElementById("theme-ludicrous").addEventListener("click", () => {
      localStorage.setItem("theme", "ludicrous");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "ludicrous");
    });

    document.getElementById("theme-trans").addEventListener("click", () => {
      localStorage.setItem("theme", "trans");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "trans");
    });

    document.getElementById("theme-mid").addEventListener("click", () => {
      localStorage.setItem("theme", "mid");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "mid");
    });

    document.getElementById("theme-red").addEventListener("click", () => {
      localStorage.setItem("theme", "red");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "red");
    });

    document.getElementById("theme-green").addEventListener("click", () => {
      localStorage.setItem("theme", "green");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "green");
    });

    document.getElementById("theme-blue").addEventListener("click", () => {
      localStorage.setItem("theme", "blue");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "blue");
    });

    document.getElementById("theme-yellow").addEventListener("click", () => {
      localStorage.setItem("theme", "yellow");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "yellow");
    });

    document.getElementById("theme-alu").addEventListener("click", () => {
      localStorage.setItem("theme", "alu");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "alu");
    });

    document.getElementById("theme-copper").addEventListener("click", () => {
      localStorage.setItem("theme", "copper");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "copper");
    });

    document.getElementById("theme-sylv").addEventListener("click", () => {
      localStorage.setItem("theme", "sylv");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "sylv");
    });

    document.getElementById("theme-rift").addEventListener("click", () => {
      localStorage.setItem("theme", "rift");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "rift");
    });

    document.getElementById("theme-ssd").addEventListener("click", () => {
      localStorage.setItem("theme", "ssd");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "ssd");
    });

    document.getElementById("theme-cat").addEventListener("click", () => {
      localStorage.setItem("theme", "cat");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "cat");
    });

    document.getElementById("theme-koaku").addEventListener("click", () => {
      localStorage.setItem("theme", "koaku");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "koaku");
    });

    document.getElementById("theme-spritz").addEventListener("click", () => {
      localStorage.setItem("theme", "spritz");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "spritz");
    });

    document.getElementById("theme-akane").addEventListener("click", () => {
      localStorage.setItem("theme", "akane");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "akane");
    });

    document.getElementById("theme-im").addEventListener("click", () => {
      localStorage.setItem("theme", "im");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "im");
    });

    document.getElementById("theme-atom").addEventListener("click", () => {
      localStorage.setItem("theme", "atom");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "atom");
    });

    document.getElementById("theme-sodium").addEventListener("click", () => {
      localStorage.setItem("theme", "sodium");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "sodium");
    });

    document.getElementById("theme-shadow").addEventListener("click", () => {
      localStorage.setItem("theme", "shadow");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "shadow");
    });

    document.getElementById("theme-flow").addEventListener("click", () => {
      localStorage.setItem("theme", "macchiato");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "macchiato");
    });

    document.getElementById("theme-cobalt").addEventListener("click", () => {
      localStorage.setItem("theme", "cobalt");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "cobalt");
    });

    document.getElementById("theme-hub").addEventListener("click", () => {
      localStorage.setItem("theme", "hub");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "hub");
    });

    document.getElementById("theme-air").addEventListener("click", () => {
      localStorage.setItem("theme", "air");
      removeCustomTheme();
      document.documentElement.setAttribute("data-theme", "air");
    });

    //document.getElementById("theme-demo").addEventListener("click", () => {
    //    localStorage.setItem("theme", "demo");
    //    removeCustomTheme();
    //    document.documentElement.setAttribute("data-theme", "demo");
    //});

    let savedQueue = [];
    document
      .getElementById("theme-switch-form")
      .addEventListener("submit", (e) => {
        e.preventDefault();
        if (savedQueue.length >= 2) return;
        savedQueue.push(e);
        notify.show("Saved", "success", 2000);
        setTimeout(() => {
          savedQueue.splice(savedQueue.indexOf(e), 1);
        }, 2000);
      });
  </script>
</Settings>
