---
import Settings from "@settings";
import Section from "@components/Section.astro";
---

<Settings title="Themes">
    <Section class="settings-section">
        <form id="theme-switch-form">
            <h1 class="text-lg">Select Theme</h1>
            <br>
            <p>Stock Themes</p>
            <button type="submit" id="theme-amoled" class="settings-submit amoled_theme">AMOLED</button>
            <button id="theme-light" class="settings-submit light_theme">Flashbang</button>
            <button id="theme-mid" class="settings-submit mid_theme">Midnight</button>
            <br>
            <br><p>Catppuccin</p>
            <button id="theme-mocha" class="settings-submit mocha_theme">Catppuccin - Mocha</button>
            <button id="theme-macchiato" class="settings-submit macchiato_theme">Catppuccin - Macchiato</button>
            <button id="theme-frappe" class="settings-submit frappe_theme">Catppuccin - Frappé</button>
            <button id="theme-latte" class="settings-submit latte_theme">Catppuccin - Latte</button>
            <br>
            <br><p>Special Themes</p>
            <button id="theme-discord" class="settings-submit discord_theme">Discord</button>
            <button id="theme-ludicrous" class="settings-submit ludicrous_theme">Ludicrous Dark</button>
            <button id="theme-trans" class="settings-submit trans_theme">Mercury Workshop</button>
            <button id="theme-baja" class="settings-submit baja_theme">Baja Blast</button>
        </form>

        
        
        <p style="font-size:15px;" class="mt-1">Want to create your own theme? <a href="/plugins/themes/" data-cold style="text-decoration: underline;">Custom Themes</a></p>
        <!-- <p style="font-size:15px;" class="mt-1">Want to have your custom theme featured on the themes list? DM @dvcu on discord and send in your custom theme file!</p> -->
    </Section>

    <script type="module">
        function removeCustomTheme() {
            document.documentElement.style.removeProperty('--primary-bg-color');
            document.documentElement.style.removeProperty('--secondary-bg-color');
            document.documentElement.style.removeProperty('--settings-1');
            document.documentElement.style.removeProperty('--settings-2');
            document.documentElement.style.removeProperty('--settings-3');
            document.documentElement.style.removeProperty('--font-color');
            document.documentElement.style.removeProperty('--primary-text-color');
            document.documentElement.style.removeProperty('--nav-btn-color-darker');
            document.documentElement.style.removeProperty('--nav-btn-color');
        }

        document
            .getElementById("theme-amoled")
            .addEventListener("click", () => {
                localStorage.setItem("theme", "amoled");
                removeCustomTheme();
                document.documentElement.setAttribute("data-theme", "amoled");
            });

        document.getElementById("theme-mocha").addEventListener("click", () => {
            localStorage.setItem("theme", "mocha");
            removeCustomTheme();
            document.documentElement.setAttribute("data-theme", "mocha");
        });

        document
            .getElementById("theme-macchiato")
            .addEventListener("click", () => {
                localStorage.setItem("theme", "macchiato");
                removeCustomTheme();
                document.documentElement.setAttribute(
                    "data-theme",
                    "macchiato"
                );
            });

        document
            .getElementById("theme-frappe")
            .addEventListener("click", () => {
                localStorage.setItem("theme", "frappe");
                removeCustomTheme();
                document.documentElement.setAttribute("data-theme", "frappe");
            });

        document.getElementById("theme-latte").addEventListener("click", () => {
            localStorage.setItem("theme", "latte");
            removeCustomTheme();
            document.documentElement.setAttribute("data-theme", "latte");
        });

        document.getElementById("theme-light").addEventListener("click", () => {
            localStorage.setItem("theme", "light");
            removeCustomTheme();
            document.documentElement.setAttribute("data-theme", "light");
        });

        document.getElementById("theme-baja").addEventListener("click", () => {
            localStorage.setItem("theme", "baja");
            removeCustomTheme();
            document.documentElement.setAttribute("data-theme", "baja");
        });

        document.getElementById("theme-discord").addEventListener("click", () => {
            localStorage.setItem("theme", "discord");
            removeCustomTheme();
            document.documentElement.setAttribute("data-theme", "discord");
        });

        document.getElementById("theme-ludicrous").addEventListener("click", () => {
            localStorage.setItem("theme", "ludicrous");
            removeCustomTheme();
            document.documentElement.setAttribute("data-theme", "ludicrous");
        });

        document.getElementById("theme-trans").addEventListener("click", () => {
            localStorage.setItem("theme", "trans");
            removeCustomTheme();
            document.documentElement.setAttribute("data-theme", "trans");
        });

        document.getElementById("theme-mid").addEventListener("click", () => {
            localStorage.setItem("theme", "mid");
            removeCustomTheme();
            document.documentElement.setAttribute("data-theme", "mid");
        });

        document
            .getElementById("theme-switch-form")
            .addEventListener("submit", (e) => {
                e.preventDefault();

                notify.show("Saved", "success", 2000);
            });
    </script>
</Settings>
