---
import Settings from "@settings";
---

<Settings title="Themes">
    <div class="settings-section">
        <form id="theme-switch-form">
            <h1 class="text-lg">Select Theme</h1>

            <button type="submit" id="theme-amoled" class="settings-submit amoled_theme">AMOLED</button>
            <button id="theme-mocha" class="settings-submit mocha_theme">Catppuccin - Mocha</button>
            <button id="theme-macchiato" class="settings-submit macchiato_theme">Catppuccin - Macchiato</button>
            <button id="theme-frappe" class="settings-submit frappe_theme">Catppuccin - Frappé</button>
            <button id="theme-latte" class="settings-submit latte_theme">Catppuccin - Latte</button>
            <button id="theme-baja" class="settings-submit baja_theme">Baja Blast</button>
        </form>
    </div>

    <script type="module">
        var notify = window.notify;

        document
            .getElementById("theme-amoled")
            .addEventListener("click", () => {
                localStorage.setItem("theme", "amoled");
                document.documentElement.setAttribute("data-theme", "amoled");
            });

        document.getElementById("theme-mocha").addEventListener("click", () => {
            localStorage.setItem("theme", "mocha");
            document.documentElement.setAttribute("data-theme", "mocha");
        });

        document
            .getElementById("theme-macchiato")
            .addEventListener("click", () => {
                localStorage.setItem("theme", "macchiato");
                document.documentElement.setAttribute(
                    "data-theme",
                    "macchiato"
                );
            });

        document
            .getElementById("theme-frappe")
            .addEventListener("click", () => {
                localStorage.setItem("theme", "frappe");
                document.documentElement.setAttribute("data-theme", "frappe");
            });

        document.getElementById("theme-latte").addEventListener("click", () => {
            localStorage.setItem("theme", "latte");
            document.documentElement.setAttribute("data-theme", "latte");
        });

        document.getElementById("theme-baja").addEventListener("click", () => {
            localStorage.setItem("theme", "baja");
            document.documentElement.setAttribute("data-theme", "baja");
        });

        document
            .getElementById("theme-switch-form")
            .addEventListener("submit", (e) => {
                e.preventDefault();

                notify.show("Saved", "success", 2000);
            });
    </script>
</Settings>
