---
import Settings from "@settings";
import Obfuscated from "@components/Obfuscated.astro";
---

<Settings title="Proxy Settings">
    <div class="settings-section">
        <form id="set-proxy-form">
            <h1 class="text-lg"><Obfuscated word="Proxy" /></h1>

            <div class="flex justify-around">
                <button id="Ultraviolet" type="submit" class="settings-img-container">
                    <img src="/Ultraviolet.png" class="settings-img-button" />
                </button>

                <button id="Dynamic" type="submit" class="settings-img-container">
                    <img src="/Dynamic.png" class="settings-img-button" />
                </button>

                <button id="Rammerhead" type="submit" class="settings-img-container">
                    <img src="/Rammerhead.png" class="settings-img-button" />
                </button>

                <button id="Aero" type="submit" class="settings-img-container">
                    <img src="/Aero.png" class="settings-img-button" />
                </button>
            </div>
        </form>
        <form id="search-engine-form">
            <h1 class="text-lg">Search Engine</h1>
            <p class="text-stone-600">%s: search query</p>

            <input class="settings-input" placeholder="Search Engine URL">
            <button type="submit" class="settings-submit">Save</button>
        </form>

        <script type="module">
            let notify = window.notify;

            function loadSettings() {
                if (!window.location.pathname.startsWith("/settings/unblock"))
                    return;

                let form = document.getElementById("set-proxy-form");

                form.addEventListener("submit", (e) => {
                    e.preventDefault();

                    const proxy = e.submitter.id;

                    document.querySelector(
                        ".header .switch-btn-current img"
                    ).src = `/${proxy}.png`;
                    document.cookie = "astro-proxy=" + proxy + ";path=/";

                    notify.show("Proxy changed to " + proxy, "success", 2000);
                });

                document.getElementById('search-engine-form').addEventListener('submit', e => {
                    e.preventDefault();

                    var engine = e.target.querySelector('input').value;

                    localStorage.setItem('search-engine', engine);
                    notify.show('Saved', 'success', 2000);
                });

                document.querySelector('#search-engine-form input').value = localStorage.getItem('search-engine') || 'https://www.google.com/search?q=%s';
            }

            window.addEventListener("flamethrower:router:end", (_) =>
                loadSettings()
            );
            loadSettings();
        </script>
    </div>
</Settings>
