---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Tabs from '../components/Tabs';
import '../styles.css';


const { url } = Astro;

import Index from '../page/home';
import AI from '../page/ai';
import Games from '../page/games';
import Media from '../page/media';
import Console from '../page/console';
import Settings from '../page/settings';

const paths = [{ params: { route: undefined } }, { params: { route: "ai" } }, { params: { route: "games" } }, { params: { route: "media" } }, { params: { route: "console" } }, { params: { route: "settings" } }];

if (!paths.find(path=>path.params.route === Astro.params.route)) {
  return Astro.redirect("/404");
}

/*export const prerender = true;

export function getStaticPaths() {
  return [{ params: { route: undefined } }, { params: { route: "ai" } }, { params: { route: "games" } }, { params: { route: "media" } }, { params: { route: "console" } }, { params: { route: "settings" } }];
}*/
---

<Layout title="Noctura">
	<main class="">
		<Header data={url} cookie={Astro.request.headers.get('cookie') || ''} client:load key="header"></Header>
    { url.pathname === "/" && <Index /> }
    { url.pathname === "/ai" && <AI /> }
    { url.pathname === "/games" && <Games /> }
    { url.pathname === "/media" && <Media /> }
    { url.pathname === "/console" && <Console /> }
    { url.pathname === "/settings" && <Settings client:load/> }
    <Tabs />
	</main>
</Layout>