---
import Layout from "@layout"
import "@css/style.css";
import "@css/ai.css";
---

<Layout title="AI">
    <div class="top-banner"></div>
    <div class="ai-container">
        <div class="chat-history"></div>
        <div class="main-content">
            <div class="answer-box-container">
                <div class="message-container">
                    <div class="message">
                        <!-- its temp
                     -->
                        <img src="openAI-chat-gpt-1.jpg" width="42" height="42">idc fuck off hoe, uhhhhhhhhhhhh ould i get a whooper with extra cheese<!-- wat is wrong with our image  -->
                    </div>
                </div>
            </div>
            <div class="message-box">
            <div class="smaller-box"> <!-- this smaller container box will allow for fixing the distance between the textbox and the enter button -->
                <input id="input" type="text" unselectable="on" placeholder="Send a message" maxlength="500"  />
                <a type="submit" class="send-img">
                    <img src="send-icon.png"/>
                </a>
            </div>
            </div>
        </div>
    </div>
</Layout>
