---
import Layout from "../layouts/Layout.astro"
import "../style/style.css";
import "../style/ai.css";
---

<Layout title="Noctura">
    <div>
        <div class="top-banner"></div>
        <div class="chat-history"></div>
        <div class="main-content">
            <div class="answer-box"></div>
            <div class="message-box">
                <input />
            </div>
            <a type="submit" class="send-img">
                <img src="/public/send-icon.png" /></a
            >
        </div>
    </div>
</Layout>