---
import Layout from "@layout";
import "@css/style.css";
import "@css/changelog.css"
---

<Layout title="Noctura">
    <div class="changelog">
        <div class="changelog-title">
            <h1>Changelog</h1>
        </div>
        <div class="changelog-version">
            <h2>Version 1.0</h2>
        </div>
        <div class="changelog-content">
            <ul>
                <li>Initial release</li>
                <li>Added 3 color schemes</li>
            </ul>
        </div>

        <div class="changelog-version">
            <h4>Version 0.5</h2>
        </div>
        <div class="changelog-content">
            <ul>
                <li>Pre release</li>
                <li>This is filler so i can upload</li>
            </ul>
        </div>
    </div>

</Layout>