---
import Layout from "@layout";
import "@css/style.css";
import "@css/changelog.css";
---

<Layout title="Noctura">
  <div class="changelog">
    <div class="changelog-title">
      <h1>Changelog</h1>
    </div>
    <div class="changelog-version">
      <h2>Version 1.0 - Initial Release</h2>
    </div>
    <div class="changelog-content">
      <ul>
        <li class="list-header">The first release of Noctura!</li>
        <li style="margin-left: 10px;">
          We are excited to bring you this new proxy filled with a BUNCH of
          features
        </li>
        <ul>
          <li class="list-subheader">
            There are 4 different proxy types useable
          </li>
          <ul class="list-bullet">
            <li>Dynamic</li>
            <li>Ultraviolet</li>
            <li>Rammerhead</li>
            <li>Aero 2</li>
          </ul>
          <li class="list-subheader">ChatGPT-like AI page</li>
          <li class="list-subheader">
            A game page filled with a plentyful selection that will continue to
            grow
          </li>
          <li class="list-subheader">A fully featured Music Player</li>
          <ul class="list-bullet">
            <li>Import any local library and preserve metadata</li>
            <li>Listen to your music while you browse on the proxy</li>
            <li>Playback controls so you can tailor your experience</li>
          </ul>
          <li class="list-subheader">
            Custom Add-ons to tailor your experience
          </li>
          <li class="list-subheader">Plenty of themes to choose from</li>
          <ul class="list-bullet">
            <li>Custom theme support</li>
            <li>
              VSCode theme converter for those used staring at their IDE all day
            </li>
          </ul>
          <li class="list-subheader">Customizable Settings</li>
          <ul>
            <li>Custom Bare Server Support</li>
            <ul class="list-bullet">
              <li>
                For when you feel like controling everything like some weird
                power user...
              </li>
            </ul>
            <li>Tab Cloaking</li>
            <li>Custom Panic URL</li>
            <ul class="list-bullet">
              <li>We know not eveyone uses Google Classroom</li>
            </ul>
          </ul>
          <li><b>THANK YOU FOR USING NOCTURA!</b></li>
        </ul>
      </ul>

      <!-- This is an example of what a release might look like! -->

      <!-- <div class="changelog-version">
            <h4>Version 0.5</h2>
        </div>
        <div class="changelog-content">
            <ul>
                <li>Pre release</li>
                <li>This is filler so i can upload</li>
            </ul>
        </div> -->
    </div>
  </div>
</Layout>
