---
//import Search from "./Search.astro";
import GameList from "../games.json";
import "@css/style.css";
//import General from "src/pages/settings/general.astro";
import Layout from "@layout";
---

<Layout title="Games">
  <!-- You're welcome for the clusterfuck :) -->
  <div
    id="container"
    style={{
      display: "flex",
      justifyContent: "center",
      alignItems: "center",
      flexWrap: "wrap"
    }}
  >
    <style scoped>
      #container img {
        width: 100%;
        height: 135px;
        object-fit: cover;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
      }

      #container .content {
        background: rgba(17, 17, 17, 0)
          linear-gradient(
            to bottom,
            rgba(17, 17, 17, 0) 10%,
            rgba(17, 17, 17, 0.1) 30%,
            rgba(17, 17, 17, 0.5) 60%,
            rgba(17, 17, 17, 1) 100%
          )
          repeat scroll 0 0;
        position: relative;
        margin-top: -50px;
        height: 50px;
      }

      #container a {
        width: min-content;
        display: block;
        margin: auto;
      }

      #container .play {
        width: 100%;
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        bottom: 0;
        margin: 0 auto;
        position: absolute;
      }

      #container .playbutton {
        width: 150px;
        height: 50px;
        border: 1px solid var(--settings-3);
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        background-color: var(--settings-2);
        transition: 0.3s;
      }

      #container .playbutton:hover {
        width: 175px;
        transition: 0.3s;
      }

      #container .playtext {
        text-align: center;
        font-weight: bold;
        color: var(--font-color);
        font-size: 18px;
        padding-top: 10px;
      }

      #container .element {
        border: 1px solid var(--settings-3);
        float: left;
        height: 350px;
        width: 250px;
        color: var(--font-color);
        background-color: var(--settings-1);
        border-radius: 25px;
        margin: 10px;
        position: relative;
      }

      #container h2 {
        font-weight: bold;
        font-size: 20px;
        padding-right: 10px;
        padding-left: 10px;
        border-bottom: 1px solid var(--settings-3);
        line-height: 0.1em;
      }

      #container h2 span {
        background: var(--settings-1);
        padding: 0 10px;
      }

      #container p {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 13px;
        color: var(--font-color);
      }
    </style>
    {
      GameList.map((game) => (
        <div id={game.id} class="element">
          <img loading="lazy" src={"/icons" + game.image} alt={game.title} />
          <div class="content" />
          <br />
          <h2>
            <span>{game.title}</span>
          </h2>
          <br />
          <p>
            {game.description.length > 135
              ? game.description.split("").slice(0, 135).join("") + "..."
              : game.description}
          </p>
          <div class="play">
            <a href={"/games/" + game.id}>
              <div class="playbutton">
                <p class="playtext">Play</p>
              </div>
            </a>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
