---
import Layout from '../layouts/Layout.astro';
import Dropdown from '../components/Dropdown';
import '../styles.css';
---

<Layout title="Welcome to Astro.">
	<main class="">
		<div class="container">
			<header>
				<h1 class="logo">Prism</h1>
			</header>
			<div class="form-container">
				<div class="input-container">
				<input type="text" placeholder="Search freely..." class="centered-input" />
				<Dropdown client:load/>
				</div>
			</div>
		</div>
	</main>
</Layout>
