---
import Layout from "../layouts/Layout.astro";
import "../style/style.css";
---

<Layout title="Noctura">
    <div>
        <div class="top-banner"></div>
        <div class="container">
            <div class="cloak">
                <h1>Cloaking</h1>
            </div>
            <div class="button-container">
                <div class="ab">
                    <button>About:blank Cloaker</button>
                </div>
                <div class='title'>
                    <button>Title Cloaker</button>
                </div>
            </div>
        </div>
    </div>

    <script is:inline>
        function ab_cloak() {
            if (typeof document !== 'undefined') {
                var iframe = document.createElement("iframe");
                iframe.src = window.location.href;
                iframe.style.width = "100%";
                iframe.style.height = "100%";
                iframe.style.border = "none";
                iframe.style.overflow = "hidden";
    
                var newWindow = window.open("about:blank", "_blank");
                newWindow.document.body.appendChild(iframe);
                newWindow.document.body.style.width = "100%";
                newWindow.document.body.style.height = "100%";
                newWindow.document.body.style.margin = "0";
                newWindow.document.body.style.padding = "0";
            };
        };
    
        function title_cloak() {
            if (typeof document !== 'undefined') {
                var title = prompt('Title: ', '');
                document.title = title;
            };
        };
    
        const abCloak = document.querySelector(".ab")
        const titleCloak = document.querySelector(".title")
    
        abCloak.onclick = ab_cloak;
        titleCloak.onclick = title_cloak;
    </script>
</Layout>