---
import Layout from "../layouts/Layout.astro";
import "../style/style.css";
import Popup from "../components/Popup.astro";
---

<Layout title="Noctura">
    <div>
        <Popup BigText="Title Cloaker" SmallText="Disguise this tab with a custom title!" Placeholder="Enter Title (ex: Google Classroom)" ButtonClass="78ughre" PopupID="rootpopup" closeFunction="hidePopup();" InputID="TitleInput" submitfunction="SubmitTitle();hidePopup();"/>
        <Popup BigText="Favicon Cloaker" SmallText="Disguise this tab with a custom favicon!" Placeholder="Enter URL (ex: drive.google.com)" ButtonClass="FaviconSub" PopupID="rootpopupdos" closeFunction="hidePopup2();" InputID="FaviconInput" submitfunction="SetFavicon();hidePopup2();"/>
        <div class="settingscontainer">
            <div class="cloak">
                <h1>Cloaking</h1>
            </div>
            <div class="button-container">
                <div class="ab">
                    <button>About:blank Cloaker</button>
                </div>
                <div class='title'>
                    <button onclick="showPopup();">Title Cloaker</button>
                </div>
                <div class='faviconc'>
                    <button onclick="showPopup2();">Favicon Cloaker</button>
                </div>
            </div>
        </div>
    </div>
    <script is:inline> // Define our own popup ID here depending on the popup being shown
        function showPopup() {
            var popup = document.getElementById("rootpopup");
            popup.style.display = "block";
        }

        function hidePopup() {
            var popup = document.getElementById("rootpopup");
            popup.style.display = "none";
        }

        function showPopup2() {
            var popup = document.getElementById("rootpopupdos");
            popup.style.display = "block";
        }

        function hidePopup2() {
            var popup = document.getElementById("rootpopupdos");
            popup.style.display = "none";
        }
    </script>
    <script src="/js/settings.js" is:inline>
    </script>
</Layout>