.top-page-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.main-size {
  font-size: 4vh;
}

.upload-button {
  color: var(--h1-color);
  margin-left: 1vw;
  margin-right: 1vw;
  cursor: pointer;
  transition: 0.3s;
}

.upload-button:active {
  transform: scale(0.8);
  transition: 0.3s;
}

.subheading {
  text-align: left;
  font-size: 3vw;
  padding-top: 3vh;

  margin-left: 1vw;
  margin-top: 1vh;
  transition: 0.2s;
  margin-bottom: 0;
  /* border-bottom: 1px solid var(--logo-color); */
  line-height: 0.1em;
}

.subheading span {
  background: none;
  padding: 0 10px;
  color: var(--logo-color);
}

.subheading-2 {
  text-align: left;
  font-size: 2vw;
  padding-top: 3vh;

  margin-left: 1vw;
  margin-top: 1vh;
  transition: 0.2s;
  margin-bottom: 0;
  /* border-bottom: 3px solid var(--logo-color); */
  line-height: 0.1em;
}

.subheading-2 span {
  background: none;
  color: var(--logo-color);
  padding: 0 10px;
}

.grid-size:hover {
  color: #22a6b3;
  transform: scale(1.1);
}

.upload-button:hover {
  color: #22a6b3;
  transform: scale(1.2);
  transition: 0.3s;
}

.theme-mode:hover {
  color: #22a6b3;
  transform: scale(1.1);
}

.settings-mode:hover {
  color: #22a6b3;
  transform: scale(1.1);
}

.search-question:hover {
  color: #22a6b3;
  transform: scale(1.1);
}

.song-image {
  width: 10vw;
  height: 10vw;

  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 0;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.2s;
}

.album-art {
  width: 12vw;
  height: 12vw;
  border-radius: 0%;

  margin-left: 0vw;
  margin-right: 0;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.3s;
}

#recentlyPlayedv2 {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  margin-left: 1vw;
  overflow-x: auto; /* add this line to enable vertical scrollbar */
  overflow-y: hidden;
}

.show-moreSongs {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  margin-left: 40vw;
  margin-bottom: 2vh;
  padding: 1vw;
  overflow-y: auto; /* add this line to enable vertical scrollbar */
  background-color: var(--card-color-music);
  color: var(--card-text-color);
  border-radius: 1vw;
  width: 10vw;
  transition: 0.4s;
  cursor: pointer;
}

.show-moreSongs:hover {
  background-color: #22a6b3;
  color: #fff;
  transform: scale(1.1);
}

.stylish {
  margin-top: 0;
}

.song-image:hover {
  transform: scale(1.1);
}

.songs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#songsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* add this line to wrap content */
  margin-top: 0vh;
  margin-right: 1vw;
  margin-left: 0vw;
  margin-bottom: 2vh;
  overflow-x: auto;
}

#songsDivs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* add this line to wrap content */
  margin-top: 0vh;
  margin-left: 1vw;
  margin-bottom: 2vh;
  overflow-x: auto;
}

#albumsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* add this line to wrap content */
  margin-top: 2vh;
  margin-left: 1vw;
  margin-bottom: 2vh;
  overflow-x: auto;
}

#albumsDivs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* add this line to wrap content */
  margin-top: 2vh;
  margin-left: 1vw;
  margin-bottom: 2vh;
  overflow-x: auto;
}

.album {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  margin-left: 1vw;
  margin-bottom: 2vh;

  overflow-y: auto; /* add this line to enable vertical scrollbar */
  background-color: var(--card-color-music);
  color: var(--card-text-color);
  border-bottom-right-radius: 0.4vw;
  border-bottom-left-radius: 0.4vw;
  /* width: 12vw; */
  transition: 0.3s;
}

.album p {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  margin-left: 0vw;
  margin-right: 0;
  padding: 0;
  font-size: 0.7vw;
  text-align: center;
  filter: brightness(0.5);
  transition: 0.2s;
}

.w-6 {
  width: 30px;
}

.h-6 {
  height: 30px;
}

.album:hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}

.album:active {
  transform: scale(0.9);
  transition: 0.3s;
}

.songDiv {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  margin-left: 2vw;
  margin-bottom: 1vh;
  padding: 0vw;
  overflow-y: auto; /* add this line to enable vertical scrollbar */
  background-color: var(--card-color-music);
  color: var(--card-text-color);
  border-bottom-left-radius: 0.4vw;
  border-bottom-right-radius: 0.4vw;
  flex-basis: 10%; /* set the initial width of the element */
  flex-grow: 1; /* allow the element to grow as necessary to fill the container */
  max-width: 12vw; /* set a maximum width for the element */
  min-width: 7vw; /* set a minimum width for the element */
  transition: 0.3s;
}

.songDiv:hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}

.songDiv:active {
  transform: scale(0.9);
  transition: 0.3s;
}

.songTitle {
  margin-top: 1vw;
  margin-bottom: 0;
  margin-left: 0vw;
  margin-right: 0;
  padding: 0;
  font-size: 0.7vw;
  text-align: center;
  filter: brightness(0.5);
  transition: 0.2s;
}

.songArtist {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0vw;
  margin-right: 0;
  padding: 0;
  font-size: 0.7vw;
  text-align: center;
  border-radius: 1vw;
  filter: brightness(0.3);
  transition: 0.2s;
}

.songAlbum {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0vw;
  margin-right: 0;
  padding: 0;
  font-size: 0.6vw;
  text-align: center;
  border-radius: 1vw;
  filter: brightness(0.8);
  transition: 0.2s;
}

.songYear {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0vw;
  margin-right: 0;
  padding: 0;
  font-size: 0.6vw;
  text-align: center;
  border-radius: 1vw;
  filter: brightness(0.8);
  transition: 0.2s;
}

.expand-song {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0vw;
  margin-right: 0;
  padding: 0;
  font-size: 1vw;
  text-align: center;
  border-radius: 1vw;
  filter: brightness(0.8);
  background-color: var(--card-color);
  cursor: pointer;
  transition: 0.2s;
}

.expand-song:hover {
  transform: scale(1.05);
}

.songImage {
  aspect-ratio: 1 / 1;
}

.songImageExpanded {
  width: 10vw;
  height: 10vw;
  border-radius: 10%;
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 0;
  margin-bottom: 0;
  cursor: pointer;
}

.songTitleExpanded {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0vw;
  margin-right: 0;
  padding: 0;
  font-size: 1vw;
  text-align: center;
  border-radius: 1vw;
}

.songArtistExpanded {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0vw;
  margin-right: 0;
  padding: 0;
  font-size: 1vw;
  text-align: center;
  border-radius: 1vw;
  filter: brightness(0.5);
}

.songAlbumExpanded {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0vw;
  margin-right: 0;
  padding: 0;
  font-size: 0.6vw;
  text-align: center;
  border-radius: 1vw;
  filter: brightness(0.8);
}

.songYearExpanded {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0vw;
  margin-right: 0;
  padding: 0;
  font-size: 0.6vw;
  text-align: center;
  border-radius: 1vw;
  filter: brightness(0.8);
}

.songsArtist {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0vw;
  margin-right: 0;
  padding: 0;
  font-size: 3vw;
  text-align: center;
  border-radius: 1vw;
  filter: brightness(0.5);
  transition: 0.2s;
}

.songsAlbum {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0vw;
  margin-right: 0;
  padding: 0;
  font-size: 1.5vw;
  text-align: center;
  border-radius: 1vw;
  filter: brightness(0.8);
  transition: 0.2s;
}

.songsYear {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0vw;
  margin-right: 0;
  padding: 0;
  font-size: 1.5vw;
  text-align: center;
  border-radius: 1vw;
  filter: brightness(0.8);
  transition: 0.2s;
}

.side-info {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0vw;
  margin-right: 20vw;
  padding: 0;
  width: 30vw;
  font-size: 1vw;
  text-align: center;
  border-radius: 0vw;
  filter: brightness(0.8);
  background-color: var(--card-color);
  cursor: pointer;
  transition: 0.2s;
}

.set-bg {
  display: none;
}
