:root {
  --title-color: #14FFEC;
  --h1-color: var(--font-color);
  --card-color: var(--settings-3);
  --card-color-darker: var(--settings-2);
  --card-color-music: var(--settings-1);
  /* --card-title-font: 'Blinker', sans-serif; */
  --card-title-color: #666;
  --card-text-color: #666;
  --card-text-weight: bold;
  --p-text-color: var(--font-color);
  --link-decoration: none;
  --settings-container: #212121;
  --media-skip-buttons: rgba(102, 40, 40, 0.7);
  --media-play-buttons: rgba(128, 105, 46, 0.7);
  --media-icon-color: black;
  --alt-bg-color: #33c263;
  --mobile-bg: #343434;
  --nav-bar-bg: #0D7377;
  --music-bar: #0E0E0E;
}