:root {
  --title-color: #14FFEC;
  --h1-color: white;
  --card-color: #0d7377;
  --card-color-darker: #0a4446;
  --card-color-music: #062a2b;
  --card-title-font: 'Blinker', sans-serif;
  --card-title-color: rgb(255, 255, 255);
  --card-text-color: rgb(255, 255, 255);
  --card-text-weight: bold;
  --p-text-color: rgb(255, 255, 255);
  --link-decoration: none;
  --settings-container: #212121;
  --media-skip-buttons: rgba(102, 40, 40, 0.7);
  --media-play-buttons: rgba(128, 105, 46, 0.7);
  --media-icon-color: black;
  --alt-bg-color: #33c263;
  --mobile-bg: #343434;
  --nav-bar-bg: #0D7377;
  --music-bar: #0E0E0E;
}