@font-face {
    font-family: MajorMonoDisplay;
    src: url(/MajorMonoDisplay-Regular.ttf);
}

  
.home {
    position: relative;
    height: calc(100vh - 102px);
    padding-bottom: 50px;
    transition: 0.1s ease;
}

.home-footer {
    position: absolute;
    bottom: 17px;
    width: 100%;
    text-align: center;
}

.server-indicator {
    padding: 12px 10px;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 15px;
    transition: 0.1s ease;
    cursor: pointer;
    font-size: 14px;
}

.server-indicator:hover {
    background: #36363681;
}

.server-indicator:active {
    background: #363636 !important;
}

.server-indicator-value:not(.connected), .server-indicator-value:not(.connected) * {
    color: var(--font-color);
}

.server-indicator-value.connected, .server-indicator-value.connected * {
    color: var(--font-color) !important;
}

.server-indicator-value:not(.connected) .indicator-dot {
    background-color: #ff0000;
}

.server-indicator-value.connected .indicator-dot {
    background-color: #00ff22;
}

.indicator-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 10px;
}

.home-container {
    position: relative;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-container input {
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    border: var(--borders-1);
    border-radius: 7px;
    background-color: var(--primary-bg-color);
    color: var(--font-color);
    font-size: 16px;
    font-weight: 500;
    outline: none;
    /*transition: 0.2s ease;*/
}

.input-omnibox {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.home-results {
    width: 100%;
    max-width: 500px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-top: 0;
    background-color: var(--primary-bg-color);
    border: 1px solid #363636;
    border-top: 0 !important;
    display: none;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.home-results li {
    width: 100%;
    padding: 7px 10px;
    border-bottom: 1px solid #363636;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: white;
    transition: 0.2s ease;
    cursor: pointer;
}

.home-results[style="display: none;"] {
    border: 0 !important;
}

.modify-split-a {
    display: flex !important;
    gap: 10px;
    max-width: 100%;
    justify-content: space-between;
    text-align: left !important;
    min-width: max-content;
}

.server-ping {
    text-align: left;
}

.logo-container {
    display: flex;
    flex-direction: row;
}

.logo-image {
    height: 100px;
}

.logotext {
    font-size: 75px;
    font-family: MajorMonoDisplay, Arial, sans-serif;
}