.settings {
    height: calc(100vh - 105px);
    width: 90%;
    margin: auto;
}

.settings-left {
    width: 300px;
    float: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.settings-left a {
    width: 95%;
    height: auto;
    padding: 10px 20px;
    background: transparent;
    color: var(--font-color);
    transition: 0.1s ease;
    border-radius: 5px;
}

.settings-navlink-active {
    color: var(--nav-btn-color) !important;
}

.settings-left a:hover {
    background: rgba(255, 255, 255, 0.09);
}

.settings-right {
    width: calc(100% - 300px);
    float: left;
}

.settings-left, .settings-right {
    height: 100%;
    padding: 20px;
}

.settings-section {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    background: transparent;
    transition: 0.1s ease;
    border-radius: 5px;
    margin-top: 10px;
    background: var(--settings-1);
}

.settings-input {
    border-radius: 5px;
    border: 1px solid var(--settings-3);
    background: var(--settings-2);
    color: var(--font-color);
    padding: 5px 10px;
    width: 100%;
    outline: none;
    transition: 0.1s ease;
    margin-top: 5px;
}

.settings-input:focus {
    border: 1px solid #828282;
}

.settings-submit {
    border-radius: 5px;
    border: 1px solid var(--settings-3);
    background: var(--settings-2);
    color: var(--font-color);
    padding: 5px 10px;
    width: 100%;
    outline: none;
    transition: 0.1s ease;
    margin-top: 5px;
    cursor: pointer;
}

.settings-submit:hover {
    background: var(--settings-3) !important;
}

.mocha_theme {
    background-color: #1e1e2e !important;
}

.amoled_theme {
    background-color: #000000 !important;
}

.macchiato_theme {
    background-color: #24273a !important;
}

.frappe_theme {
    background-color: #303446 !important;
}

.latte_theme {
    background-color: #eff1f5 !important;
}

.baja_theme {
    background-color: #008881 !important;
}

.settings-img-button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.settings-img-container {
    background: var(--settings-2);
    color: var(--font-color);
    padding: 5px 10px;
    width: 200px;
    height: 200px;
    outline: none;
    transition: 0.1s ease;
    margin-top: 5px;
    cursor: pointer;
}