---
import "./frame.css";
---

<div>
    <iframe class="proxy-frame" src="">
        Frames are disabled
    </iframe>

    <script>
        window.proxy = {
            hide() {
                var top = document.querySelector('.header .top');
                var home = document.querySelector('.home');
                var head = document.querySelector('.header');
                var bot = document.querySelector('.header .bottom');
                var tra = document.querySelectorAll('.top-right > a');
                var tr = document.querySelector('.top-right');
                var ps = document.querySelector('.header .switch-btn-container');
                var btns = document.querySelector('.nav-btns');
                var clock = document.querySelector('.nav-time');

                clock.style.opacity = '0';
                tra.forEach(e=>e.style.opacity = '0');
                ps.style.opacity = '0';
                btns.style.opacity = '0';
                home.style.opacity = '0';
                home.style.height = 'calc(100vh - 71px)';
                bot.style.minHeight = '0';
                bot.style.maxHeight = '0';

                setTimeout(function() {
                    var fullscr = document.querySelector('.proxy-full');
                    var exit = document.querySelector('.proxy-close');

                    fullscr.style.display = 'inline-block';
                    exit.style.display = 'inline-block';

                    fullscr.style.opacity = '1';
                    exit.style.opacity = '1';
                }, 100);
            },
            go(url) {
                this.hide();
                
                document.querySelector(".proxy-frame").contentWindow.location.href = url;

                return new Promise(async (resolve, reject) => {
                    const p = new Promise((res, rej) => {
                        document.querySelector(".proxy-frame").onload = () => {
                            res();
                        };
                    });

                    await p;

                    document.querySelector(".proxy-frame").style.display = 'block';

                    setTimeout(() => {
                        document.querySelector(".proxy-frame").style.opacity = '1';

                        setTimeout(() => {
                            resolve();
                        }, 100);
                    });
                });
            }
        };
    </script>
</div>