.proxy-frame {
    display: none;
    position: absolute;
    top: 79px;
    opacity: 0;
    transition: 0.1s ease;
    background: white;
    left: 0;
    height: calc(100vh - 79px);
    width: 100vw;
    z-index: 999999999;
}