---
import Metadata from "./Metadata.astro";
import Search from "./Search.astro";
---

<script>
    import GameList from './json/games.json'
    
    const gameDiv = document.getElementById('gameDiv');
    GameList.forEach(game => {
        let elm = document.createElement('div');
        elm.innerHTML = `<a href="${game.file}">${game.title}</a>`;
        gameDiv.appendChild(elm);
    })

</script>

<div id="gameDiv">

</div>