.header {
    background-color: var(--primary-bg-color);
    text-align: center;
    font-family: var(--header-font);
}

.top {
    background: transparent;
    color: var(--primary-text-color);
    padding: 14px 20px 0px 14px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom {
    background: transparent;
    color: var(--primary-text-color);
    padding: 5px 14px 10px 14px;
    text-align: center;
    z-index: 0;
    width: 100%;
    position: relative;
}

.nav-btns {
    display: flex;
    justify-content: flex-start;
    width: 600px;
    float: left;
    position: relative;
}

.nav-btn-title {
    pointer-events: none;
    color: inherit;
}

.nav-btn {
    margin: 0;
    padding: 6px 0;
    flex: auto;
    font-size: 14px;
    color: var(--nav-btn-color-darker);
    position: relative;
    transition: 0.1s ease;
}

.nav-btn.active {
    color: var(--nav-btn-color);
}

.nav-btn:hover:not(.active) {
    color: var(--nav-btn-color-darker);
}

.nav-btn.active::before {
    content: "";
    display: block;
    width: calc(70% - 10px);
    height: 2px;
    background-color: var(--nav-btn-color);
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
}

.top-left {
    text-align: left;
    display: inline-block;
    /*width: 49%;*/
    flex: 1;
}

.nav-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    display: inline-block;
    /*animation: breathe 4s ease;*/
}

.tn-icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: inline-block;
    filter: brightness(2.5) hue-rotate(357deg);
    transform: scale(1.02);
}

@keyframes breathe {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    50% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.nav-slash {
    border-top: 1px solid #737373;
    width: 24px;
    display: inline-block;
    rotate: 120deg;
    position: relative;
    bottom: 4px;
}

#nav-move {
    position: absolute;
    border-radius: 3px;
    top: -2px;
    background-color: rgb(163 163 163 / 23%);
    left: 0;
    display: none;
    transition: 0.2s;
}

.top-right {
    text-align: right;
    display: inline-block;
    flex: 1;
    /*width: 50%;*/
}

.feedback-btn {
    margin: 0;
    padding: 12px 15px;
    border-radius: 6px;
    flex: auto;
    font-size: 14px;
    color: #fff;
    border: 1px solid rgb(39, 39, 39);
    position: relative;
    transition: 0.1s ease;
}

.feedback-btn:hover {
    background: #36363681;
}

.extra-btn {
    margin-left: 15px;
    padding: 6px 0;
    flex: auto;
    font-size: 14px;
    color: var(--nav-btn-color-darker);
    position: relative;
    transition: 0.1s ease;
}

.extra-btn:hover {
    color: var(--nav-btn-color);
}

.nav-time {
    margin: 0;
    padding: 6px 0 6px 0;
    flex: auto;
    font-size: 14px;
    color: #888;
    position: relative;
    transition: 0.1s ease;
    z-index: -1;
    text-align: right;
}

.nav-time-text {
    color: var(--nav-btn-color);
    margin-right: 10px;
}

.clock-text {
    width: 90px;
}

.date-text {
    width: 80px;
}

.focus-mode-container {
    display: inline-block;
    position: relative;
    top: 6px;
    cursor: pointer
}