---
const props = Astro.props;
---

<a class={`flamethrower-link ${props.class}`} {...props} target={props.target || "_self"}>
    <slot />
</a>

<script>
    import flame from "flamethrower-router";

    flame({
        log: false,
        prefetch: "visible"
    });
</script>