---
import Repositories from "./Repositories.astro";

const repos = [
  /*
  removed temporarily because github was ratelimiting
  "https://api.github.com/repos/Dave-and-Mike/game-off-2012",
  "https://api.github.com/repos/cykod/AlienInvasion",
  "https://api.github.com/repos/stephank/arashi-js",
  "https://api.github.com/repos/dmcinnes/HTML5-Asteroids",
  "https://api.github.com/repos/Zolmeister/avabranch",
  "https://api.github.com/repos/budnix/ball-and-wall",
  "https://api.github.com/repos/Couchfriends/breakout",
  "https://api.github.com/repos/EnclaveGames/Captain-Rogers",
  "https://api.github.com/repos/gamebytes/cellmates",
  "https://api.github.com/repos/mjhasbach/ceros-snake",
  "https://api.github.com/repos/RothschildGames/change",
  "https://api.github.com/repos/Murkantilism/game-off-2013",*/
];
---

<div>
  {repos.map((repo) => <Repositories repo={repo} />)}
</div>

<style>
  div {
    --cols: 3;
    display: grid;
    grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
    gap: 0.75em;
  }

  @media screen and (max-width: 1400px) {
    div {
      --cols: 2;
    }
  }

  @media screen and (max-width: 1000px) {
    div {
      --cols: 1;
    }
  }
</style>
