<svg
  class="nav-icon"
  version="1.2"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 800 800"
  width="40"
  height="40"
>
  <title>nebula-logo-without-slogan-svg</title>
  <style>
    .s0 {
      fill: var(--logo-color);
    }
  </style>
  <g id="Layer">
    <g id="Layer">
      <g id="tight-bounds">
        <g id="Layer">
          <g id="Layer">
            <g id="Layer">
              <g id="Layer">
                <g id="Layer">
                  <g id="textblocktransform">
                    <g id="textblock">
                      <g id="Layer">
                        <g id="Layer">
                          <g id="Layer">
                            <g id="Layer">
                              <g id="Layer">
                                <g id="kg-0">
                                  <g id="Layer">
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m411.5 494.4c-43.9 0-79.4-35.5-79.4-79.5 0-43.9 35.5-79.4 79.4-79.4 43.9 0 79.4 35.5 79.4 79.4 0 44-35.5 79.5-79.4 79.5z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m246.2 257.1c1.8 0 3.7-1 5.6-1.9 14.9-10.3 29.9-17.7 44.8-24.3l4.7 13.1q2.8 5.6 8.4 5.6c0.9 0 1.9 0 3.7-0.9 4.7-1.9 7.5-7.5 5.6-12.2l-4.6-13.1c43.9-14.9 85.9-19.6 116.7-19.6 0 4.7 4.7 9.4 9.4 9.4 4.7 0 8.4-4.7 8.4-9.4 14.9 1 24.3 1.9 24.3 1.9 4.7 0.9 10.3-2.8 10.3-7.5 0.9-4.7-2.8-10.3-7.5-10.3-1.9 0-11.2-1.8-28-1.8l-1-26.2c0-5.6-4.6-9.3-9.3-9.3-5.6 0-9.4 4.6-9.4 9.3l1 25.2c-31.8 0-76.6 4.7-122.4 20.6l-14-36.4c-1.9-4.7-7.5-7.5-12.2-5.6-4.6 1.8-7.4 7.4-5.6 12.1l14 36.4c-16.8 6.6-32.7 15.9-48.5 26.2-4.7 2.8-5.6 8.4-2.8 13.1 2.8 3.7 5.6 4.6 8.4 5.6z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m481.6 637.3l-3.7 0.9c-15.9 3.8-46.8 11.2-85.1 13.1v-9.3c0-5.7-3.7-9.4-9.3-9.4-5.6 0-9.3 3.7-9.3 9.4v11.2c-32.7 0-68.2-3.8-105.6-15.9l3.7-14c1.9-4.7-1.8-10.3-6.5-11.2-4.7-1.9-10.3 1.8-11.2 6.5l-3.8 12.1c-12.1-4.6-24.2-11.2-36.4-17.7-4.7-2.8-10.3-0.9-13.1 3.7-2.8 4.7-0.9 10.3 3.8 13.1 13 7.5 27.1 14 40.1 19.6l-1.8 5.6c-1.9 4.7 1.8 10.3 6.5 11.2q1.4 0 2.8 0c3.7 0 7.5-2.8 9.4-6.5l0.9-4.7c37.4 12.2 73.8 15.9 105.6 15.9 1.8 0 2.8 0 4.6 0v14c0 5.6 3.8 9.4 9.4 9.4 5.6 0 9.3-3.8 9.3-9.4v-14.9c40.2-2.8 71.9-10.3 88.8-14l3.7-1c4.7-0.9 8.4-6.5 6.5-11.2 1-4.6-3.7-7.5-9.3-6.5z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m692.7 405.6c-4.7-0.9-10.3 2.8-10.3 7.5 0 0.9-9.3 55.1-50.4 93.4-3.7 3.7-3.7 9.3-0.9 13.1 1.8 1.8 4.6 2.8 6.5 2.8 1.9 0 4.7-1 6.5-2.8 45.8-43 56.1-100.9 57-103.7 0-4.7-2.8-9.4-8.4-10.3z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m601.2 327.1q4.2 0 8.4-2.8l30.8-30.8c3.7-3.7 3.7-9.3 0-13.1-3.7-3.7-9.3-3.7-13.1 0l-30.8 30.9c-3.7 3.7-3.7 9.3 0 13 0.9 1.9 2.8 1.9 4.7 2.8z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m661 354.2l-24.3 8.4c-4.7 1.9-7.5 6.6-5.6 12.2 0.9 3.7 4.6 6.5 8.4 6.5 0.9 0 1.8 0 2.8-0.9l24.3-8.4c4.6-1.9 7.4-6.6 5.6-12.2-1-4.6-6.6-7.4-11.2-5.6z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m188.3 414c0.9 0 0.9 0 1.8 0 4.7 0 8.4-2.8 9.4-7.5 0.9-4.6-2.8-10.2-7.5-11.2l-37.4-6.5c-4.6-0.9-10.3 2.8-11.2 7.5-0.9 4.6 2.8 10.2 7.5 11.2z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m201.3 501.8c-0.9-4.6-6.5-7.4-11.2-6.5l-34.5 9.3c-4.7 1-7.5 6.6-6.6 11.2 1 3.8 4.7 6.6 9.4 6.6q1.4 0 2.8 0l34.5-9.4c4.7-0.9 7.5-6.5 5.6-11.2z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m263.9 503.7c1.9 2.8 4.7 3.7 7.5 3.7 1.9 0 3.7-0.9 5.6-1.8l6.5-4.7c11.3 13.1 26.2 25.2 43.9 34.6 1.9 0.9 2.8 0.9 4.7 0.9 3.8 0 6.6-1.9 8.4-4.7 2.8-4.7 1-10.3-3.7-13.1-15.9-8.4-28-18.6-38.3-29.9l4.7-3.7c3.7-2.8 4.6-9.3 1.8-13.1-2.8-3.7-9.3-4.6-13.1-1.8l-3.7 4.6q-7-11.2-11.2-25.2c-5.6-19.6-3.7-39.2-0.9-56l7.4 0.9c1 0 1 0 1.9 0 4.7 0 8.4-2.8 9.4-7.5 0.9-4.6-2.9-10.3-7.5-10.3l-5.6-0.9c5.6-17.7 12.1-28.9 13.1-29.9 2.8-4.7 0.9-10.3-2.9-13.1-4.6-2.8-10.2-0.9-13 2.8-1 1-9.4 15-15 36.5l-14-1.9c-5.6-0.9-10.3 2.8-10.3 7.5-0.9 4.7 2.8 10.3 7.5 10.3l12.2 1.8c-3.8 18.7-4.7 41.1 0.9 63.5 2.8 11.3 7.5 21.5 14 31.8l-6.5 4.7c-5.6 3.7-6.6 9.3-3.8 14z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m602.1 420.6c0-5.7-3.7-9.4-9.3-9.4h-10.3c-12.2-95.3-98.1-128-99-128.9-4.7-1.9-10.3 0.9-12.2 5.6-1.9 4.7 0.9 10.3 5.6 12.1 3.8 1 75.7 29 86.9 111.2h-1.9c-5.6 0-9.3 3.7-9.3 9.4 0 5.6 3.7 9.3 9.3 9.3h3.8c0 11.2 0 23.3-2.8 35.5-1 4.7 2.8 10.3 7.4 10.3 1 0 1 0 1.9 0 4.7 0 8.4-2.8 9.3-7.5q2.8-21 2.8-39.2h9.4c3.7 0.9 8.4-3.8 8.4-8.4z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m553.5 222.5c1 0 1.9 0.9 2.8 0.9 3.8 1 8.4-1.8 9.4-5.6l9.3-19.6c1.9-4.7 0-10.3-4.7-12.1-4.6-1.9-10.2 0-12.1 4.6l-9.4 19.7c-1.8 4.6 0 10.2 4.7 12.1z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m362 138.4c0.9 4.7 4.7 7.5 9.4 7.5 0.9 0 1.8 0 1.8 0 4.7-0.9 8.4-6.5 6.6-11.2l-3.8-14c-0.9-4.7-6.5-8.4-11.2-6.6-4.7 1-8.4 6.6-6.5 11.3z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m458.2 565.4c-4.6 0.9-8.4 6.5-7.4 11.2l6.5 28c0.9 4.7 4.7 7.5 9.3 7.5 1 0 1 0 1.9 0 4.7-1 8.4-6.6 7.5-11.3l-6.6-28c-0.9-5.6-6.5-8.4-11.2-7.4z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m613.3 539.2c-1.9-4.7-7.5-6.5-12.1-3.7-4.7 1.8-6.6 7.4-3.8 12.1l7.5 15.9q2.8 5.6 8.4 5.6c1.9 0 2.8 0 3.7-0.9 4.7-1.9 6.6-7.5 3.8-12.2z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m72.4 524.2c-37.4 1.9-52.3-6.5-54.2-14.9-0.9-1.9-9.3-12.1 39.3-31.8 2.8-0.9 10.2-3.7 9.3-5.6-0.9-2.8-14 1-16.8 1-35.5 9.3-53.3 27.1-49.5 41.1 3.7 14.9 38.3 20.5 66.3 17.7 2.8 0 15.9-2.8 15.9-5.6 0-3.7-7.5-2.8-10.3-1.9z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      fill-rule="evenodd"
                                      class="s0"
                                      d="m526.4 102.9c-9.8 0-17.7-7.9-17.7-17.7 0-9.8 7.9-17.8 17.7-17.8 9.8 0 17.8 8 17.8 17.8 0 9.8-8 17.7-17.8 17.7zm8.4-17.7c0-4.7-3.7-8.4-8.4-8.4-4.6 0-8.4 3.7-8.4 8.4 0 4.6 3.8 8.4 8.4 8.4 4.7 0 8.4-3.8 8.4-8.4z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      fill-rule="evenodd"
                                      class="s0"
                                      d="m653.5 82.4c-10.9 0-19.6-9.2-19.6-20.6 0-11.3 8.7-20.5 19.6-20.5 10.8 0 19.6 9.2 19.6 20.5 0 11.4-8.8 20.6-19.6 20.6zm10.3-21.5c0-6.2-4.6-11.2-10.3-11.2-5.7 0-10.3 5-10.3 11.2 0 6.2 4.6 11.2 10.3 11.2 5.7 0 10.3-5 10.3-11.2z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      fill-rule="evenodd"
                                      class="s0"
                                      d="m220.9 758.7c-8.7 0-15.8-7.5-15.8-16.8 0-9.3 7.1-16.8 15.8-16.8 8.8 0 15.9 7.5 15.9 16.8 0 9.3-7.1 16.8-15.9 16.8zm6.6-17.7c0-4.2-2.9-7.5-6.6-7.5-3.6 0-6.5 3.3-6.5 7.5 0 4.1 2.9 7.5 6.5 7.5 3.7 0 6.6-3.4 6.6-7.5z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m92 211.3l-27.1-31.8 2.8 42.1-16.8 21.5 26.2 2.8 28 30.8-2.8-41.1 16.8-21.5z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m737.6 520.5l-14.1 32.7-20.5 9.3 18.7 12.2 9.3 33.6 13.1-31.7 20.5-9.4-19.6-12.1z"
                                    ></path>
                                    <path
                                      id="Layer"
                                      class="s0"
                                      d="m799.2 288.8c-4.7-14.9-39.2-17.7-67.3-12.1-2.8 0.9-15.8 4.7-14.9 6.5 0 2.8 7.5 1 10.3 0 36.4-5.6 54.2 0 56 8.4 1 1.9 9.4 13.1-37.3 37.4-1.9 0.9-10.3 4.7-9.4 6.5 1 1.9 14-1.8 16.8-2.8 34.6-11.2 50.5-29.9 45.8-43.9z"
                                    ></path>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                          <g id="Layer"> </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
              <g id="Layer"> </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
