---
let defaults = {
  animationDuration: 300,
  timeout: 5000,
  zIndex: 1000,
  top: 0,
  colors: {
    error: {
      color: "#FFFFFF",
      backgroundColor: "#E85742"
    },
    success: {
      color: "#FFFFFF",
      backgroundColor: "#55CA92"
    },
    warning: {
      color: "#333333",
      backgroundColor: "#F5E273"
    },
    info: {
      color: "#FFFFFF",
      backgroundColor: "#4990E2"
    }
  }
};

const styles = {
  container: {
    position: "fixed",
    width: "50%",
    margin: "0 auto",
    right: "0px",
    top: defaults.top,
    left: "0px",
    textAlign: "center",
    zIndex: defaults.zIndex,
    pointerEvents: "none",
    transition: "all " + defaults.animationDuration + "ms ease",
    transform: "translateY(-100%)",
    msTransition: "all " + defaults.animationDuration + "ms ease",
    msTransform: "translateY(-100%)",
    WebkitTransition: "all " + defaults.animationDuration + "ms ease",
    WebkitTransform: "translateY(-100%)",
    OTransition: "all " + defaults.animationDuration + "ms ease",
    OTransform: "translateY(-100%)",
    MozTransition: "all " + defaults.animationDuration + "ms ease",
    MozTransform: "translateY(-100%)"
  },
  content: {
    cursor: "pointer",
    display: "inline-block",
    width: "auto",
    borderRadius: "0 0 4px 4px",
    transition: "0.3s ease",
    backgroundColor: "white",
    padding: "10px 30px",
    pointerEvents: "all"
  }
};
---

<div class="toast-container" style={{ ...styles.container }}>
  <div
    class="toast-content"
    id="toast-notification"
    style={{ ...styles.content }}
  >
  </div>
</div>
