:root {
  --main-color: #00ccff;
  --text-color: #fff;
  --second-color: #679dd0;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(-45deg, var(--text-color), var(--main-color));
  color: var(--text-color);
  background-size: 400% 400%;
  overflow: none;
  animation: gradient 15s ease infinite;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Montserrat, Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  font-size: 6rem;
  color: var(--text-color);
}

.form-container {
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.input-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.centered-input {
  padding: 10px;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  width: 20vw;
  background-color: var(--main-color);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  height: 36px;
}
.centered-input::placeholder {
  color: var(--text-color);
}
.centered-input:focus {
  outline: none;
}
.custom-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.dropdown-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: var(--main-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  cursor: pointer;
}

.dropdown-placeholder {
  color: #fff;
}

.dropdown-icon {
  margin-left: auto;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  max-height: 50vh;
  max-width: 50vw;
  width: 100%;
  width: 300px;
  background-color: var(--main-color);
  border: 1px solid var(--text-color);
  border-radius: 4px;
  display: none;
}

.dropdown-option {
  max-height: 10vh;
  max-width: 40vw;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-option-title {
  font-weight: bold;
}

.dropdown-option-description {
  max-width: 80%;
  font-size: 12px;
  margin-top: 5px;
}


.dropdown-option:hover {
  background-color: var(--second-color);
}

.dropdown-displayed {
  height: 35px;
  width: 35px;
}

.dropdown-image {
  height: 35px;
  width: 35px;
  padding: 10px;
}


.custom-dropdown:hover .dropdown-options {
  display: block;
}

#root {
  height: 100vw;
  width: 100vh;
}