@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-bg-color: #000000;
    --secondary-bg-color: #ffffff;
    --primary-text-color: #ffffff;
    --nav-btn-color: #fff; /* active button       -- also applies to extra nav buttons */
    --nav-btn-color-darker: #888; /* not active   -- also applies to extra nav buttons */
    --header-font: "Inter", sans-serif;
    --font-color: #fff;
    --banner-gradient: linear-gradient(to right, #0000 0%, #4d008c 20%, #6f00ff 50%, #4d008c 80%, #0000 100%);
    --surface-2: #383838;
    --settings-1: #111; /* settings section background */
    --settings-2: #222; /* settings section background */
    --settings-3: #333; /* settings section background */
    --borders-1: 1px solid rgb(72, 72, 72);
    --borders-2: 1px solid rgb(36, 36, 36);
    --tn-filter: brightness(2.5) hue-rotate(357deg);
}

[data-theme="mocha"] {
    --primary-bg-color: #1e1e2e; /* Base */
    --secondary-bg-color: #585b70; /* Surface 2 */
    --primary-text-color: #cdd6f4; /* Text */
    --nav-btn-color: #74c7ec; /* active button       -- also applies to extra nav buttons   -- Sapphire */
    --nav-btn-color-darker: #9399b2; /* not active   -- also applies to extra nav buttons   -- Overlay 2 */
    --header-font: "Inter", sans-serif;
    --font-color: #cdd6f4; /* Text */
    --banner-gradient: linear-gradient(to right, var(--primary-bg-color) 0%, #89dceb 20%, #74c7ec 50%, #89b4fa 80%, var(--primary-bg-color) 100%);
    --surface-2: #585b70; /* Surface 2 */
    --settings-1: #11111b; /* settings section background  Crust */
    --settings-2: #181825; /* settings section background  Mantle */
    --settings-3: #313244; /* settings section background  Surface 0*/
    --borders-1: 1px solid rgb(72, 72, 72);
    --borders-2: 1px solid #7f849c; /* Overlay 1 */
    --tn-filter: brightness(0) saturate(100%) invert(77%) sepia(12%) saturate(1762%) hue-rotate(166deg) brightness(96%) contrast(92%); /* Sapphire - Converted to filter */
}

[data-theme="macchiato"] {
    --primary-bg-color: #24273a; /* Base */
    --secondary-bg-color: #5b6078; /* Surface 2 */
    --primary-text-color: #cad3f5; /* Text */
    --nav-btn-color: #7dc4e4; /* active button       -- also applies to extra nav buttons   -- Sapphire */
    --nav-btn-color-darker: #939ab7; /* not active   -- also applies to extra nav buttons   -- Overlay 2 */
    --header-font: "Inter", sans-serif;
    --font-color: #cad3f5; /* Text */
    --banner-gradient: linear-gradient(to right, var(--primary-bg-color) 0%, #89dceb 20%, #74c7ec 50%, #89b4fa 80%, var(--primary-bg-color) 100%);
    --surface-2: #5b6078; /* Surface 2 */
    --settings-1: #181926; /* settings section background  Crust */
    --settings-2: #1e2030; /* settings section background  Mantle */
    --settings-3: #363a4f; /* settings section background  Surface 0*/
    --borders-1: 1px solid rgb(72, 72, 72);
    --borders-2: 1px solid #8087a2; /* Overlay 1 */
    --tn-filter: brightness(0) saturate(100%) invert(71%) sepia(60%) saturate(312%) hue-rotate(163deg) brightness(94%) contrast(89%); /* Sapphire - Converted to filter */
}

[data-theme="frappe"] {
    --primary-bg-color: #303446; /* Base */
    --secondary-bg-color: #626880; /* Surface 2 */
    --primary-text-color: #c6d0f5; /* Text */
    --nav-btn-color: #85c1dc; /* active button       -- also applies to extra nav buttons   -- Sapphire */
    --nav-btn-color-darker: #949cbb; /* not active   -- also applies to extra nav buttons   -- Overlay 2 */
    --header-font: "Inter", sans-serif;
    --font-color: #c6d0f5; /* Text */
    --banner-gradient: linear-gradient(to right, var(--primary-bg-color) 0%, #89dceb 20%, #74c7ec 50%, #89b4fa 80%, var(--primary-bg-color) 100%);
    --surface-2: #626880; /* Surface 2 */
    --settings-1: #232634; /* settings section background  Crust */
    --settings-2: #292c3c; /* settings section background  Mantle */
    --settings-3: #414559; /* settings section background  Surface 0*/
    --borders-1: 1px solid rgb(72, 72, 72);
    --borders-2: 1px solid #838ba7; /* Overlay 1 */
    --tn-filter: brightness(0) saturate(100%) invert(76%) sepia(33%) saturate(395%) hue-rotate(156deg) brightness(90%) contrast(91%); /* Sapphire - Converted to filter */
}

[data-theme="latte"] {
    --primary-bg-color: #eff1f5; /* Base */
    --secondary-bg-color: #acb0be; /* Surface 2 */
    --primary-text-color: #4c4f69; /* Text */
    --nav-btn-color: #209fb5; /* active button       -- also applies to extra nav buttons   -- Sapphire */
    --nav-btn-color-darker: #7c7f93; /* not active   -- also applies to extra nav buttons   -- Overlay 2 */
    --header-font: "Inter", sans-serif;
    --font-color: #4c4f69; /* Text */
    --banner-gradient: linear-gradient(to right, var(--primary-bg-color) 0%, #89dceb 20%, #74c7ec 50%, #89b4fa 80%, var(--primary-bg-color) 100%);
    --surface-2: #acb0be; /* Surface 2 */
    --settings-1: #dce0e8; /* settings section background  Crust */
    --settings-2: #e6e9ef; /* settings section background  Mantle */
    --settings-3: #ccd0da; /* settings section background  Surface 0*/
    --borders-1: 1px solid rgb(72, 72, 72);
    --borders-2: 1px solid #8c8fa1; /* Overlay 1 */
    --tn-filter: brightness(0) saturate(100%) invert(45%) sepia(100%) saturate(370%) hue-rotate(141deg) brightness(97%) contrast(89%); /* Sapphire - Converted to filter */
}

[data-theme="baja"] {
    --primary-bg-color: #008881; /* Color 1 */
    --secondary-bg-color: #000000; /* Surface 2 */
    --primary-text-color: #ffffff; /* Text */
    --nav-btn-color: #f9f4cf; /* active button       -- also applies to extra nav buttons   -- Sapphire */
    --nav-btn-color-darker: #ffffff; /* not active   -- also applies to extra nav buttons   -- Overlay 2 */
    --header-font: "Inter", sans-serif;
    --font-color: #ffffff; /* Text */
    --banner-gradient: linear-gradient(to right, var(--primary-bg-color) 0%, #226466 20%, #3b5fd4 50%, #031b1b 80%, var(--primary-bg-color) 100%);
    --surface-2: #c7ffec; /* Surface 2 */
    --settings-1: #005550; /* settings section background  Crust */
    --settings-2: #006a63; /* settings section background  Mantle */
    --settings-3: #009e94; /* settings section background  Surface 0*/
    --borders-1: 1px solid #676f78;
    --borders-2: 1px solid #96ffdb; /* Overlay 1 */
    --tn-filter: brightness(0) saturate(100%) invert(22%) sepia(45%) saturate(5539%) hue-rotate(344deg) brightness(92%) contrast(98%); /* Sapphire - Converted to filter */
}




body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--primary-bg-color);
}

* {
    box-sizing: border-box;
}