---
// @ts-nocheck
import Header from "@sections/Header.astro";
import Footer from "@sections/Footer.astro";
import Tabs from "@sections/Tabs.astro";
import Analytics from "@components/Analytics.astro";

// @ts-ignore
import Notifications from "@components/Notification.astro";

// @ts-ignore
import { SEO } from "astro-seo";

import "../styles.css";
import "../style/global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const { url } = Astro;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      addEventListener("DOMContentLoaded", async () => {
        await import("../js/router.js");
        await import("../js/cookie.js");
        await import("../js/notify.js");
      });
    </script>
    <style id="dynamic-style" data-cold is:inline>
      * {
      }
    </style>
    <link
      rel="icon"
      data-cold
      crossorigin="anonymous"
      href="/icon.png"
      type="image/png"
    />
    <link
      rel="preload"
      crossorigin="anonymous"
      href="/font/MajorMonoDisplay-Webfont.woff2"
      type="font/woff2"
      as="font"
    />
    <link
      rel="prefetch"
      crossorigin="anonymous"
      href="/js/loader.js"
      type="application/javascript"
      as="script"
    />
    <link href="/font/font.css" rel="stylesheet" />
    <link
      rel="preconnect"
      crossorigin="anonymous"
      href="https://classroom.google.com"
    />
    <script is:inline src="/js/loader.js"></script>
    <SEO
      title={title}
      titleTemplate="%s - Noctura"
      description="Noctura | the blazing fast solution to internet censorship. Access blocked websites with ease while maintaining anonymity and security."
      charset="UTF-8"
      twitter={{
        creator: "@TitaniumNetDev"
      }}
      openGraph={{
        basic: {
          title: "Noctura",
          type: "website",
          image: "/logo.png"
        },
        optional: {
          locale: "en-US",
          description:
            "The blazing fast solution to internet censorship. Access blocked websites with ease while maintaining anonymity and security."
        }
      }}
      extend={{
        link: [{ rel: "sitemap", href: "/sitemap-index.xml" }],
        meta: [
          {
            name: "viewport",
            content: "width=device-width"
          },
          {
            name: "theme-color",
            content: "#2D0060"
          },
          {
            name: "generator",
            content: Astro.generator
          }
        ]
      }}
    />
    <script async src="/js/ui.js" data-cold></script>
    <script async src="/js/sw.js" data-cold></script>
    <script async src="/js/gamebuttons.js" data-cold></script>
    <Analytics id="G-WE1NBQQ361" />
  </head>
  <body>
    <div class="page-load-progress"></div>
    <main class="layout">
      <Header data={url} />
      <Notifications />
      <slot />
      <Footer />
      <Tabs />
    </main>
  </body><style is:global>
    :root {
      --accent: 124, 58, 237;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        #da62c4 30%,
        white 60%
      );
    }

    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    .page-load-progress {
      border: none;
      background: #ddd;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transition: 0.1s ease;
      display: none;
    }
  </style>
</html>
